#minecraft-integration {
    .btn, .form-control, .navbar {
        border-radius: 0;
    }

    hr {
        margin: 0 -15px;
    }

    .container {
        font-size: 18px;
        margin-bottom: 100px;
    }

    body, small, p, div {
        font-family: "Roboto", sans-serif;
    }

    .input-row {
        margin-bottom: 20px;

        .form-control {
            margin-bottom: 5px;
        }

        .help-text {
            pointer-events: none;
            line-height: 20px;
            color: #888;
            font-size: 85%;
            display: none;
        }

        .input-field {
            border-right: 5px solid #FFF;
        }

        &.active {
            .input-field {
                border-right-color: #38B44A;
            }

            .help-text {
                display: block;
            }
        }

        &.error {
            .input-field {
                border-right-color: #BF3E11;
                padding-right: 20px;
            }

            .help-text {
                display: block;
            }
        }
    }
}

.ajaxInputColorPicker {
    font-weight: bold;
    width: 120px;
}

.popover {
    max-width: 400px;
    width: 400px;
}

.has-popover {
    cursor: pointer;
}

.has-tooltip {
    cursor: pointer;
}

.tooltip-inner {
    max-width: 360px;
}

.admin {
    .panel[data-widget="widgetMCDynmapMiniMap"],
    .panel[data-widget="widgetMCServerStatus"],
    .panel[data-widget="widgetMCTopPlayersList"],
    .panel[data-widget="widgetMCTopPlayersGraph"],
    .panel[data-widget="widgetMCOnlinePlayersGrid"],
    .panel[data-widget="widgetMCOnlinePlayersGraph"] {
        > .panel-heading {
            background-color: #FE6;
        }

        > .panel-body {
            border-top-color: #AAA;
        }

        .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
            color: #000;
            background-color: #FF8;
            border-color: #AA3;
        }

        .btn-primary {
            color: #000;
            background-color: #FE6;
            border-color: #AA3;
        }

        background-color: #F8F8F8;
        border-color: #AAA;
    }
}

.canvasResizable {
    width: 100% !important;
    max-width: 1200px;
    height: auto !important;
    display: block;
}

.mi-container {
    
    position: relative;
}

.widgetTable {
    margin-bottom: 0px;
    
    .td-label {
        padding-left: 16px;
        max-width: 90px;
        width: 90px;
    }

    .td-padded {
        padding-left: 16px;
    }
}

.mcwe-modal .mcwe-modal-dialog {
    height: 92%;
    width: 92%;
    margin: 30px auto auto;
    padding-left: 15px;
}

.mcwe-modal .mcwe-modal-content {
    height: 100%;
}

.mcwe-modal-body {
    max-height: calc(100%);
    height: calc(~"100% - 60px");
    overflow-y: hidden;
}

.mcweIFrame {
    border-style: ridge;
    border-width: 4px;
    border-color: #888;
    display: block;
}

.mcweModalMap {
    display: block;
}

body.modal-open {
    margin-padding: 0px !important;
}

.mcweTogglable {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    width: calc(100%);
    border-style: solid;
    border-width: 1px;
    border-color: #aaa;
    display: none;
}

.mcweTogglableSibling {
    width: calc(100%);
}
