#minecraft-integration-admin {
	h1 > img {
		margin-bottom: 7px;
		width: 42px;
		height: 42px;
	}

    .btn, .form-control, .navbar {
        border-radius: 0;
    }

    hr {
        margin: 0 -15px;
    }

    .container {
        font-size: 18px;
        margin-bottom: 100px;
    }

	td {
		vertical-align: middle;
	}

	.nav-tabs > li > a {
		background-color: rgb(251, 251, 251);
		border-color: #D2D2D2;

		&:hover {
			background-color: rgb(255, 255, 255);
			border-color: #337AB7;
		}
	}

	.nav-tabs > li.active > a {
		color: #FFF;
		background-color: #337AB7;
		border-color: #337AB7;
	}

	.info {
		border-radius: 100px;
	}

	.compact {
		width: 0;
	}

	.squish {
		padding-right: 0;
	}

    body, small, p, div {
        font-family: "Roboto", sans-serif;
    }

    .input-row {
        margin-bottom: 20px;

        .form-control {
            margin-bottom: 5px;

			&[name="api-key"] {
				cursor: pointer;
			}
        }

		td {
			padding: 0;
			border: none;

			&+td {
				padding-left:10px;
			}

			button {
				width: unset;
			}
		}

        .help-text {
            pointer-events: none;
            line-height: 20px;
            color: #888;
            font-size: 85%;
            display: none;
        }

        .input-field {
            border-right: 5px solid #FFF;
        }

		[type=checkbox] {
			display: inline-block;
			width: 30px;
			height: 0px;
		}

        &.active {
            .input-field {
                border-right-color: #38B44A;
            }

            .help-text {
                display: block;
            }
        }

        &.error {
            .input-field {
                border-right-color: #BF3E11;
                padding-right: 20px;
            }

            .help-text {
                display: block;
            }
        }
    }

	.modal-body {
		padding: 0;

		table {
			margin-bottom: 0;
		}
	}

	.no-break {
		word-break: keep-all;
		white-space: nowrap;
	}

	.userpic {
		border-radius: 20px;
	}

	td > a {
		text-decoration: none;
		outline: 0;
	}
}

.ajaxInputColorPicker {
    font-weight: bold;
    width: 120px;
}

.plugin-list, .mod-list {
	max-width: 400px;
    width: 400px;

	.popover-content {
		padding: 0;
	}

	td {
		padding: 6px 10px;
	}

	.popover-title {
		font-size: 18px;
		font-weight: normal;
		padding: 10px;
		color: white;
	}

	.table-plugin-list, .table-mod-list {
		margin: 0;
	}
}

.plugin-list .popover-title {
	background-color: #5B94DE;
}

.mod-list .popover-title {
	background-color: #D94F79;
}

[data-popover="plugin-list"], [data-popover="mod-list"] {
    cursor: pointer;
}

.has-tooltip {
    cursor: pointer;
}

.tooltip-inner {
    max-width: 360px;
}

.admin {
    .panel[data-widget="mi-chat"],
    .panel[data-widget="mi-directory"],
    .panel[data-widget="mi-gallery"],
    .panel[data-widget="mi-map"],
    .panel[data-widget="mi-ping-graph"],
    .panel[data-widget="mi-players-graph"],
    .panel[data-widget="mi-players-grid"],
    .panel[data-widget="mi-status"],
    .panel[data-widget="mi-top-graph"],
    .panel[data-widget="mi-top-list"],
    .panel[data-widget="mi-tps-graph"] {
        > .panel-heading {
            background-color: #24B32D;
            color: #fff;
        }

        > .panel-body {
            border-top-color: #AAA;
        }

        .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
            color: #000;
            background-color: #FF8;
            border-color: #AA3;
        }

        .btn-primary {
            color: #000;
            background-color: #FE6;
            border-color: #AA3;
        }

        background-color: #F8F8F8;
        border-color: #AAA;

        .mi-accordion {
            margin: 25px 0px;

            >.panel {
                >.panel-heading {
                    text-transform: none;
                    border-bottom: #D6E9C6 1px solid;
                    box-shadow: 0px 0px 2px 0px rgba(165, 165, 165, 0.75);
                }
            }
        }
    }
}

.mi-container {
    position: relative;
	min-height: 40px;

	&[data-widget="mi-status"] {
		[data-popover="plugin-list"] {
			text-decoration: none;
		}

		.fa {
			text-decoration: none;
		}
	}

    .widget-table {
        margin-bottom: 0px;

        .td-label {
            padding-left: 16px;
            max-width: 90px;
            width: 90px;
        }

        .td-padded {
            padding-left: 16px;
        }
    }

	.mi-avatar {
		width: 46px;
		height: 46px;
		border-width: 3px;
	}

	.avatars {
		font-size: 0;
	}

	.mi-avatars {
		font-size: 0;
		padding: 0 8px;

		:first-child {
			margin-top: 8px;
		}
		:last-child {
			margin-bottom: 8px;
		}
	}

	&[data-widget="mi-players-graph"],
	&[data-widget="mi-ping-graph"],
	&[data-widget="mi-top-graph"],
	&[data-widget="mi-tps-graph"], {
		background-color: #ffffff;
	}

	&[data-widget="mi-chat"] {
		div {
			height: 100px;
			max-height: 200px;
			overflow-y: scroll;
			width: 100%;
			border: 1px inset #808080;
		}
		input {
			width: 100%;
		}
		td {
			padding: 1px;
		}
		td+td {
			width: 1px;
		}
	}
}

.mcwe-modal .mcwe-modal-dialog {
    height: 92%;
    width: 92%;
    margin: 30px auto auto;
    padding-left: 15px;
}

.mcwe-modal .mcwe-modal-content {
    height: 100%;
}

.mcwe-modal-body {
    max-height: calc(100%);
    height: calc(~"100% - 60px");
    overflow-y: hidden;
}

.mcweModalMap {
    display: block;
}

body.modal-open {
    margin-padding: 0px !important;
}

.prefix {
	text-align: center;
	text-shadow: 0.5px 0.5px 0.25px rgba(0,0,0,0.5);
}

.h1.prefix, .h4.prefix {
	display:block;
	margin-bottom:0;
}

.mi-highlight {
	color: lightblue !important;
}

.mi-serveraddresscopy {
	margin: 0 0 5px 5px;
	cursor: pointer;
}

.mi-chart-wrapper, .mi-frame-wrapper {
	width: 100%;
	display: block;
	position: relative;

	&:after {
		display: block;
		content: '';
	}

	&[data-ratio="short"]:after {
		padding-top: 50%;
	}

	&[data-ratio="tall"]:after {
		padding-top: 70%;
	}
}

.mi-chart {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.mi-frame {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	border-style: solid;
	border-width: 2px;
	border-color: #888;
	width: 100%;
	height: 100%;
}

[name="player-key"] {
	border: 1px solid #eee;
	border-radius: 10px;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	background-image: none;
	white-space: nowrap;
	padding: 10px 16px;
	font-size: 14px;
	line-height: 1.42857143;
}

.michart-container {
	display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 75%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;

	.michart-content {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;

		.axis {
			font-size: 26px;
		}

		.bar {
			stroke-width: 0;
			fill: green;
		}

		.bar:hover {
			fill: lightgreen;
		}

		path {
			stroke: steelblue;
			stroke-width: 2;
			fill: none;
		}

		.axis path,
		.axis line {
			fill: none;
			stroke: grey;
			stroke-width: 3;
			shape-rendering: crispEdges;
		}
	}
}

.tooltip.michart {
	.tooltip-inner {
		max-width: 300px;
		color: #757575;
		background: #fff;
		border: 1px #727272 solid;
		border-radius: 10px;

		hr {
			margin-top: 2px;
			margin-bottom: 2px;
			border: 0;
			border-top: 1px solid #eee;
		}
	}
}
